.feedback {
    background-image: url(../img/background_subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 162px;
    background-color: #555;
    @include space-between;
    text-align: center;

    &_review {
        width: 360px;

        &_img {
            margin-bottom: 30px;
        }

        &_blockquote {
            @include font(400, 20px, #222224);
        }
    }

    &_subscribe {
        width: 557px;

        &_heading {
            @include font(700, 24px, #222224);
            line-height: 130%;
            margin-top: 53px;
            margin-bottom: 0;

            &_small {
                @include font(400, 18px, #222224);
            }
        }
        
        &_email {
            margin-top: 32px;
            width: 350px;
            height: 49px;
            outline: none;
            border: none;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            background-color: #E1E1E1;
        }
        
        & input[placeholder] {
            @include font();
            color: #222224;
            padding-left: 22px;
            padding-right: 10px;
        }

        &_button {
            width: 110px;
            height: 49px;
            @include font();
            background-color: $color;
            color: #FFFFFF;
            border: none;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            margin-left: -3px;
            outline: none;

            &:hover {
                background-color: #E05C6E;
            }
        }
    }
}