.header {
    background-color: #222222;
    height: 75px;
    @include space-between;
    @include vertical-center;

    &_left_link {
        margin-right: 41px;
    }

    &_right_link {
        margin-left: 33px;
    }

    &_button{
        background-color: inherit;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 1180px) {
    .header {
        height: 74px;
    } 
}

@media (max-width: 798px) {
    .header_right_link {
        display: none;
    }
}

