.products {
    margin-top: 96px;

    &_heading {
        @include font(400, 30px, #222222);
        text-align: center;
        margin-bottom: 6px;
    }

    &_text {
        @include font();
        color: #9F9F9F;
        text-align: center;
    }

    &_wrap {
        @include space-between;
        flex-wrap: wrap;
        margin-top: 18px;
    }

    &_item {
        width: 360px;
        background-color: #F8F8F8;
        margin-top: 30px;
        padding-bottom: 20px;
        overflow: hidden;
        position: relative;
        transition: 0.5s;

        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            transition: 0.8s;
            transform: scale(1.07);

            & .products_overlay {
                opacity: 1;
            }   
        }
    }

    &_overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 420px;
        background-color: rgba(58, 56, 56, 0.83);
        @include center;
        opacity: 0;
        transition: 0.5s;

        &_btn {
            width: 139px;
            height: 44px;
            background-color: transparent;
            border: 1px solid white;
            @include font();
            color: white;
            @include center;

            & svg {
                margin-right: 11px;
            }
        }
    }

    &_name {
        @include font(400, 13px, #000000);
        text-transform: uppercase;
        margin-top: 25.35px;
        margin-left: 18px;
    }

    &_description {
        @include font(300, 14px, #5D5D5D);
        margin-top: 12.65px;
        margin-left: 16.46px;
    }

    &_price {
        @include font(400, 16px, $color);
        margin-top: 18px;
        margin-left: 18.46px;
    }

    &_button {
        @include horizontal-center;

        button {
            width: 212px;
            height: 48px;
            outline: 1px solid #F26376;
            margin-top: 48px;
            margin-bottom: 95px;
            background: none;
            border: none;
            @include font(400, 16px, #F26376);

            &:hover {
                background-color: $color;
                color: #fff;
                cursor: pointer;
                transition: 0.8s;
                transform: scale(1.5);
            }
        }
    }
}

@media (max-width: 1180px) {
    .products {
        margin-top: 50px;

        &_item {
            height: 580px;
            margin-top: 16px;
        }
    }
}